<div class="layui-body" style="left:200px;">
	<div id="app" v-loading="isAppLoading">
		<fieldset class="layui-elem-field layui-field-title">
			<legend>休假日历</legend>
		</fieldset>
		
		<el-drawer
		:visible.sync="isShowAddDrawer"
		direction="ltr"
		size="100%"
		:show-close="false"
		:modal-append-to-body = "false"
		close-on-press-escape = "false"
		style="text-align: center;">
			<!-- 移动端样式 -->
			<el-div v-if="isMobile">
				<el-card style="margin:0 10px;padding-bottom: 30px;">
					<h3>新增休假日程</h3>
					<el-form
					:model="ruleForm"
					:rules="rules"
					ref="ruleForm"
					label-width="100px"
					class="demo-ruleForm"
					style="margin-top: 40px;">
						<el-form-item label="开始日期" required>
							<el-col :span="18">
								<el-form-item prop="timestamp_start">
									<el-date-picker
									type="date"
									placeholder="请输入休假开始日期"
									v-model="ruleForm.timestamp_start"
									format="yyyy 年 MM 月 dd 日"
									value-format="yyyyMMdd"
									:picker-options="pickerOptions1"
									style="width:100%;">
									</el-date-picker>
								</el-form-item>
							</el-col>
						</el-form-item>
						<el-form-item label="午次" prop="half_day_start">
							<el-col :span="18">
								<el-select v-model="ruleForm.half_day_start" style="width:100%;" placeholder="请选择午次">
									<el-option label="上午" :value="1"></el-option>
									<el-option label="下午" :value="2"></el-option>
								</el-select>
							</el-col>
						</el-form-item><br>
						<el-form-item label="结束日期" required>
							<el-col :span="18">
								<el-form-item prop="timestamp_end">
									<el-date-picker
									type="date"
									placeholder="请输入休假结束日期"
									v-model="ruleForm.timestamp_end"
									style="width:100%;"
									format="yyyy 年 MM 月 dd 日"
									value-format="yyyyMMdd"
									:picker-options="pickerOptions1">
									</el-date-picker>
								</el-form-item>
							</el-col>
						</el-form-item>
						<el-form-item label="午次" prop="half_day_end">
							<el-col :span="18">
								<el-select v-model="ruleForm.half_day_end" style="width:100%;" placeholder="请选择午次">
									<el-span v-show="false">
										<!-- 若时间为同一天，且开始午次为下午，则默认结束午次为下午 -->
										{{(ruleForm.timestamp_start == ruleForm.timestamp_end && ruleForm.half_day_start == 2) && (ruleForm.half_day_end = 2)}}
									</el-span>
									<el-option label="上午" :value="1" :disabled="ruleForm.timestamp_start == ruleForm.timestamp_end && ruleForm.half_day_start == 2"></el-option>
									<el-option label="下午" :value="2"></el-option>
								</el-select>
							</el-col>
						</el-form-item><br>
						<el-form-item label="休假类型" prop="vacation_type">
							<el-col :span="18">
								<el-select v-model="ruleForm.vacation_type" style="width:100%;" placeholder="请选择休假类型" @change="getMyBalance()">
									<el-option label="" value=""></el-option>
									<el-option label="年假" :value="1"></el-option>
									<el-option label="值班调休" :value="2"></el-option>
								</el-select>
							</el-col>
						</el-form-item><br>
						<el-form-item label="休假天数" prop="num_of_days_off">
							<el-col :span="18">
								<!-- 休假天数实时变化 -->
								<!-- 先算天数，下面是计算两个日期间隔天数的公式 -->
								<!-- 再算半天数 -->
								<el-span v-show="false">
								{{
									ruleForm.num_of_days_off = 
									(parseInt((new Date(''+ruleForm.timestamp_end.slice(0,4)+'-'+ruleForm.timestamp_end.slice(4,6)+'-'+ruleForm.timestamp_end.slice(6,8)).getTime() / 1000 - parseInt(new Date(''+ruleForm.timestamp_start.slice(0,4)+'-'+ruleForm.timestamp_start.slice(4,6)+'-'+ruleForm.timestamp_start.slice(6,8)).getTime() / 1000))/ 60 / 60 / 24)) 
									+ ((ruleForm.half_day_end - ruleForm.half_day_start) > 0 ? 1 : ((ruleForm.half_day_end - ruleForm.half_day_start) == 0 ? 0.5 : 0))
									|| 0
								}}
								</el-span>
								<el-input v-model="ruleForm.num_of_days_off" disabled style="display: inline-block;width:80%;"></el-input> 天
								<br>
								<!-- 年假 -->
								<el-span v-if="ruleForm.vacation_type == 1 && (myAnnualLeaveBalance < ruleForm.num_of_days_off)" style="color:red">
									{{'年假余额：'+ myAnnualLeaveBalance +'天（仅供参考）'}}
								</el-span>
								<el-span v-else-if="ruleForm.vacation_type == 1" style="color:#67c23a">
									{{'年假余额：'+ myAnnualLeaveBalance +'天（仅供参考）'}}
								</el-span>
								<!-- 调休 -->
								<el-span v-if="ruleForm.vacation_type == 2 && (myVacationBalance < ruleForm.num_of_days_off)" style="color:red">
									{{'调休余额：'+ myVacationBalance +'天（不足）'}}
								</el-span>
								<el-span v-else-if="ruleForm.vacation_type == 2" style="color:#67c23a">
									{{'调休余额：'+ myVacationBalance +'天'}}
								</el-span>
							</el-col>
						</el-form-item><br>
						<el-form-item v-show="ruleForm.vacation_type == 2" label="选择调休" prop="dol_arr">
							<el-col :span="18">
								<el-select
								v-model="ruleForm.dol_arr"
								multiple
								style="width:100%;"
								placeholder="请选择">
									<el-option
									v-for="item in days_off_balance_list"
									:key="item.dbl_id"
									:label="item.dol_timestamp + (item.dol_day_or_night? '白班': '夜班') + '0.5天'"
									:value="item.dbl_id"
									disabled>
									</el-option>
								</el-select>
							</el-col>
						</el-form-item><br>
						<el-form-item label="休假说明" prop="remarks">
							<el-col :span="18">
								<!-- v-model后加.trim输入框默认不能输入空格 -->
								<el-input v-if="ruleForm.vacation_type == 1" type="textarea" style="width:100%;" v-model.trim="ruleForm.remarks">
									{{ruleForm.remarks = '年休假'}}
								</el-input>
								<el-input v-else-if="ruleForm.vacation_type == 2" type="textarea" style="width:100%;" v-model.trim="ruleForm.remarks">
									{{ruleForm.remarks = '调休'}}
								</el-input>
								<el-input v-else type="textarea" style="width:100%;" v-model.trim="ruleForm.remarks"></el-input>
							</el-col>
						</el-form-item><br>
						<el-button @click="resetForm('ruleForm')">重置</el-button>
						<el-button type="success" @click="submitForm('ruleForm')" style="width: 50%;margin-bottom: 30px;">提交</el-button>
						<br>
						<el-button type="danger" @click="(isAppLoading = !isAppLoading) && (location.href = 'everyoneSSchedule')">关闭</el-button>
						<el-button type="primary" @click="(isAppLoading = !isAppLoading) && (location.href = 'rotaListOrdinary')"style="width: 50%;">返回值班表</el-button>
					</el-form>
				</el-card>
				<br>
				<el-card class="box-card" style="margin: 10px;text-align: left;">
					<div class="text item">
						【调休过期说明】
					</div>
					<div class="text item">
						根据中心内部要求调休需在1个月内休完，如有特殊情况可申请延期，但最长不超3个月（系统默认三个月）
					</div>
				</el-card>
				<br>
				<el-card class="box-card" style="margin: 10px;text-align: left;">
					<div class="text item">
						【申请说明】
					</div>
					<div class="text item">
						1、12点前，可从当天上午开始调休
					</div>
					<div class="text item">
						2、17点前，可从当天下午开始调休
					</div>
				</el-card>
			</el-div>
			<!-- PC端样式 -->
			<el-div v-else>
				<el-card style="padding-bottom: 30px;width: 500px;display: inline-block;">
					<h3>新增休假日程</h3>
					<el-form
					:model="ruleForm"
					:rules="rules"
					ref="ruleForm"
					label-width="100px"
					class="demo-ruleForm"
					style="margin-top: 40px;">
						<el-form-item label="开始日期" required>
							<el-col :span="18">
								<el-form-item prop="timestamp_start">
									<el-date-picker
									type="date"
									placeholder="请输入休假开始日期"
									v-model="ruleForm.timestamp_start"
									style="width: 250px;"
									format="yyyy 年 MM 月 dd 日"
									value-format="yyyyMMdd"
									:picker-options="pickerOptions1">
									</el-date-picker>
								</el-form-item>
							</el-col>
						</el-form-item>
						<el-form-item label="午次" prop="half_day_start">
							<el-col :span="18">
								<el-select v-model="ruleForm.half_day_start" style="width: 250px;" placeholder="请选择午次">
									<el-option label="上午" :value="1"></el-option>
									<el-option label="下午" :value="2"></el-option>
								</el-select>
							</el-col>
						</el-form-item><br>
						<el-form-item label="结束日期" required>
							<el-col :span="18">
								<el-form-item prop="timestamp_end">
									<el-date-picker
									type="date"
									placeholder="请输入休假结束日期"
									v-model="ruleForm.timestamp_end"
									style="width: 250px;"
									format="yyyy 年 MM 月 dd 日"
									value-format="yyyyMMdd"
									:picker-options="pickerOptions1">
									</el-date-picker>
								</el-form-item>
							</el-col>
						</el-form-item>
						<el-form-item label="午次" prop="half_day_end">
							<el-col :span="18">
								<el-select v-model="ruleForm.half_day_end" style="width: 250px;" placeholder="请选择午次">
									<el-span v-show="false">
										<!-- 若时间为同一天，且开始午次为下午，则默认结束午次为下午 -->
										{{(ruleForm.timestamp_start == ruleForm.timestamp_end && ruleForm.half_day_start == 2) && (ruleForm.half_day_end = 2)}}
									</el-span>
									<el-option label="上午" :value="1" :disabled="ruleForm.timestamp_start == ruleForm.timestamp_end && ruleForm.half_day_start == 2"></el-option>
									<el-option label="下午" :value="2"></el-option>
								</el-select>
							</el-col>
						</el-form-item><br>
						<el-form-item label="休假类型" prop="vacation_type">
							<el-col :span="18">
								<el-select v-model="ruleForm.vacation_type" style="width: 250px;" placeholder="请选择休假类型" @change="getMyBalance()">
									<el-option label="" value=""></el-option>
									<el-option label="年假" :value="1"></el-option>
									<el-option label="值班调休" :value="2"></el-option>
								</el-select>
							</el-col>
						</el-form-item><br>
						<el-form-item label="休假天数" prop="num_of_days_off">
							<el-col :span="18">
								<!-- 休假天数实时变化 -->
								<!-- 先算天数，下面是计算两个日期间隔天数的公式 -->
								<!-- 再算半天数 -->
								<el-span v-show="false">
								{{
									ruleForm.num_of_days_off = 
									(parseInt((new Date(''+ruleForm.timestamp_end.slice(0,4)+'-'+ruleForm.timestamp_end.slice(4,6)+'-'+ruleForm.timestamp_end.slice(6,8)).getTime() / 1000 - parseInt(new Date(''+ruleForm.timestamp_start.slice(0,4)+'-'+ruleForm.timestamp_start.slice(4,6)+'-'+ruleForm.timestamp_start.slice(6,8)).getTime() / 1000))/ 60 / 60 / 24)) 
									+ ((ruleForm.half_day_end - ruleForm.half_day_start) > 0 ? 1 : ((ruleForm.half_day_end - ruleForm.half_day_start) == 0 ? 0.5 : 0))
									|| 0
								}}
								</el-span>
								<el-input v-model="ruleForm.num_of_days_off" disabled style="display: inline-block;width:250px"></el-input> 天
								<br>
								<!-- 年假 -->
								<el-span v-if="ruleForm.vacation_type == 1 && (myAnnualLeaveBalance < ruleForm.num_of_days_off)" style="color:red">
									{{'年假余额：'+ myAnnualLeaveBalance +'天（仅供参考）'}}
								</el-span>
								<el-span v-else-if="ruleForm.vacation_type == 1" style="color:#67c23a">
									{{'年假余额：'+ myAnnualLeaveBalance +'天（仅供参考）'}}
								</el-span>
								<!-- 调休 -->
								<el-span v-if="ruleForm.vacation_type == 2 && (myVacationBalance < ruleForm.num_of_days_off)" style="color:red">
									{{'调休余额：'+ myVacationBalance +'天（不足）'}}
								</el-span>
								<el-span v-else-if="ruleForm.vacation_type == 2" style="color:#67c23a">
									{{'调休余额：'+ myVacationBalance +'天'}}
								</el-span>
							</el-col>
						</el-form-item><br>
						<el-form-item v-show="ruleForm.vacation_type == 2" label="选择调休" prop="dol_arr">
							<el-col :span="18">
								<el-select
								v-model="ruleForm.dol_arr"
								multiple
								style="width: 250px;"
								placeholder="请选择">
									<el-option
									v-for="item in days_off_balance_list"
									:key="item.dbl_id"
									:label="item.dol_timestamp + (item.dol_day_or_night? '白班': '夜班') + '0.5天'"
									:value="item.dbl_id"
									:disabled="!ruleForm.timestamp_start || !ruleForm.half_day_start || !ruleForm.timestamp_end || !ruleForm.half_day_end 
									|| (ruleForm.timestamp_end.substr(0, 4) == item.dol_timestamp.substr(0, 4) 
											? parseInt(ruleForm.timestamp_end.substr(4, 2)) - rvs_time_liness > parseInt(item.dol_timestamp.substr(4, 2)) 
												? true
												: parseInt(ruleForm.timestamp_end.substr(4, 2)) - rvs_time_liness == parseInt(item.dol_timestamp.substr(4, 2))
														? parseInt(ruleForm.timestamp_end.substr(6, 2)) > parseInt(item.dol_timestamp.substr(6, 2))
															? true
															: false
														: false
											: (12 - parseInt(item.dol_timestamp.substr(4, 2)) + parseInt(ruleForm.timestamp_end.substr(4, 2)) > rvs_time_liness )
												? true
												: (12 - parseInt(item.dol_timestamp.substr(4, 2)) + parseInt(ruleForm.timestamp_end.substr(4, 2)) == rvs_time_liness )
													? parseInt(ruleForm.timestamp_end.substr(6, 2)) > parseInt(item.dol_timestamp.substr(6, 2))
														? true
														: false
													: false
										)">
									<!-- disabeld 禁止调休超过三个月以后日期 -->
									</el-option>
								</el-select>
								<br>
								<!-- 调休说明 -->
								<el-span v-if="!ruleForm.timestamp_start" style="color:red">
									{{'请选择开始日期'}}
								</el-span>
								<el-span v-else-if="!ruleForm.half_day_start " style="color:red">
									{{'请选择开始日期午次'}}
								</el-span>
								<el-span v-else-if="!ruleForm.timestamp_end" style="color:red">
									{{'请选择结束日期'}}
								</el-span>
								<el-span v-else-if="!ruleForm.half_day_end " style="color:red">
									{{'请选择结束日期午次'}}
								</el-span>
								<el-span v-else style="color:#67c23a">
									{{'注：结束日期超过调休日期'+rvs_time_liness+'月则无法使用'}}
								</el-span>
							</el-col>
						</el-form-item><br>
						<el-form-item label="休假说明" prop="remarks">
							<el-col :span="18">
								<!-- v-model后加.trim输入框默认不能输入空格 -->
								<el-input v-if="ruleForm.vacation_type == 1" type="textarea" style="width: 250px;" v-model.trim="ruleForm.remarks">
									{{ruleForm.remarks = '年休假'}}
								</el-input>
								<el-input v-else-if="ruleForm.vacation_type == 2" type="textarea" style="width: 250px;" v-model.trim="ruleForm.remarks">
									{{ruleForm.remarks = '调休'}}
								</el-input>
								<el-input v-else type="textarea" style="width: 250px;" v-model.trim="ruleForm.remarks"></el-input>
							</el-col>
						</el-form-item><br>
						<el-button @click="resetForm('ruleForm')">重置</el-button>
						<el-button type="success" @click="submitForm('ruleForm')" style="width: 50%;margin-bottom: 30px;">提交</el-button>
						<br>
						<el-button type="danger" @click="(isAppLoading = !isAppLoading) && (location.href = 'everyoneSSchedule')">关闭</el-button>
						<el-button type="primary" @click="(isAppLoading = !isAppLoading) && (location.href = 'rotaListOrdinary')"style="width: 50%;">返回值班表</el-button>
					</el-form>
				</el-card>
				<br>
				<el-card class="box-card" style="margin: 10px;width: 500px;text-align: left;display: inline-block;">
					<div class="text item">
						【调休过期说明】
					</div>
					<div class="text item">
						根据中心内部要求调休需在1个月内休完，如有特殊情况可申请延期，但最长不超3个月（系统默认三个月）
					</div>
				</el-card>
				<br>
				<el-card class="box-card" style="margin: 10px;width: 500px;text-align: left;display: inline-block;">
					<div class="text item">
						【申请说明】
					</div>
					<div class="text item">
						1、12点前，可从当天上午开始调休
					</div>
					<div class="text item">
						2、17点前，可从当天下午开始调休
					</div>
				</el-card>
			</el-div>
			
		</el-drawer>
	</div>
</div>
<style>
.is-selected {
	color: #1989FA;
}
/* el-drawer 滚动条 */
.el-drawer__body{
    overflow: scroll;
}
</style>
<script>
function isMobile(){
	let userAgentInfo = navigator.userAgent;
	let Agents = ['Android','iPhone','SymbianOS','Windows Phone']
	let getArr = Agents.filter(i => userAgentInfo.includes(i))
	return getArr.length ? true : false
}
const leaveApplication = {:json_encode($leaveApplication)};
console.log(leaveApplication)
const Dates = new Date();
const Y = Dates.getFullYear();
const M = Dates.getMonth() + 1;
const D = Dates.getDate();
const nowDate = Y + (M < 10 ? "-0" : "-") + M + (D < 10 ? "-0" : "-") + D;
const app = new Vue({
	el: '#app',
	data() {
		return {
			isMobile: isMobile(),
			isAppLoading: false,
			calendarValue:  new Date(),
			leaveApplication: leaveApplication,
			rvs_time_liness: leaveApplication[0].rvs_time_liness, // 调休时限 目前为 3 单位月
			isShowAddDrawer: true,
        	direction: 'ltr',
        	nowDate: nowDate,
			ruleForm: {
				timestamp_start: '',
				half_day_start: 1,
				timestamp_end: '',
				half_day_end: 2,
				vacation_type: '',
				num_of_days_off: '',
				dol_arr: [],
				remarks:''
			},
			rules: {
				timestamp_start: [
					{ required: true, message: '日期不能为空', trigger: 'change' }
				],
				half_day_start: [
					{ required: true, message: '请选择午次', trigger: 'change' }
				],
				timestamp_end: [
					{ required: true, message: '日期不能为空', trigger: 'change' }
				],
				half_day_end: [
					{ required: true, message: '请选择午次', trigger: 'change' }
				],
				vacation_type: [
					{ required: true, message: '请选择休假类型', trigger: 'change' }
				],
				remarks: [
					{ required: true, message: '请填写休假说明', trigger: 'blur' }
				]
			},
			pickerOptions1: {
				disabledDate(time) {
					// 随机减一个数，没有任何理由，效果达到就好
					return time.getTime() < (Date.now()-100000000);
				}
			},
			myAnnualLeaveBalance: 5, // 我的年假余额
			myVacationBalance: 0, // 我的调休余额
			days_off_balance_list: [], // 我的调休余额清单
			count: 0
		}
	},
	methods: {
		submitForm(formName) {
			const _this = this
			this.$refs[formName].validate((valid) => {
				if (_this.ruleForm.vacation_type == 1 && (_this.ruleForm.num_of_days_off > _this.myAnnualLeaveBalance)) {
					_this.$message({
						type: 'error',
						message: '年假余额不足'
					});
					return false;
				}
				if (_this.ruleForm.timestamp_start > _this.ruleForm.timestamp_end || (_this.ruleForm.timestamp_start == _this.ruleForm.timestamp_end && _this.ruleForm.half_day_start > _this.ruleForm.half_day_end) ) {
					_this.$message({
						type: 'error',
						message: '开始时间不能大于结束时间'
					});
					return false;
				}
				if (_this.ruleForm.vacation_type == 2){
					if (_this.ruleForm.dol_arr.length == 0) {
						let message = '调休天数不能为空'
						if (this.myVacationBalance == 0) {
							message = '调休余额不足'
						}
						_this.$message({
							type: 'error',
							message: message
						});
						return false;
					} else if (_this.ruleForm.num_of_days_off != 0.5*_this.ruleForm.dol_arr.length) {
						_this.$message({
							type: 'error',
							message: '调休天数与休假天数不对应'
						});
						return false;
					}
				}
				if (valid) {
					$.ajax({
						url: 'addleaveApplication',
						data: _this.ruleForm,
						type: 'get',
						success: function (res) {
							console.log(res);
							const code = res.code
							const msg = res.msg
							if (code > 0){
								_this.$message({
									type: 'success',
									message: msg
								});
								_this.resetForm('ruleForm')
							} else {
								_this.$message({
									type: 'error',
									message: '操作失败，请刷新重试：' + msg
								});
							}
						},
						error: function (err) {
							console.log(res, _this.ruleForm, err);
						}
					})
				} else {
					console.log('error submit!!');
					return false;
				}
			});
		},
		resetForm(formName) {
			this.$refs[formName].resetFields();
		},
		getMyBalance () {
			if (this.ruleForm.vacation_type == 1) {
				// 年假
				this.getMyAnnualLeaveBalance()
			} else if (this.ruleForm.vacation_type == 2) {
				// 调休
				this.getMyVacationBalance()
			}
		},
		getMyAnnualLeaveBalance () {
			const _this = this;
			$.ajax({
				url: '../customer/getMyAnnualLeaveBalance',
				type: 'get',
				success: function (res) {
					_this.myAnnualLeaveBalance = res
				},
				error: function (err) {
					console.log(err);
				}
			})
		},

		getMyVacationBalance () {
			const _this = this;
			$.ajax({
				url: '../customer/getMyVacationBalance',
				type: 'get',
				success: function (res) {
					_this.myVacationBalance = res.data.dol_days_off_balance_sum
					_this.days_off_balance_list = []
					// 将余额打散，切割成以半天为单位的数据
					for (let i = 0; i < res.data.days_off_balance_list.length; i++) {
						const times = res.data.days_off_balance_list[i]['dol_days_off_balance']/0.5
						for (let j = 0; j < times; j++) {
							const temp = JSON.parse(JSON.stringify(res.data.days_off_balance_list[i])) 
							temp['dbl_id'] = res.data.days_off_balance_list[i]['dol_id']+'_'+j

							_this.days_off_balance_list.push(temp)
						}
					}
				},
				error: function (err) {
					console.log(err);
				}
			})
		},
		load () {
			this.count += 2
		}
	},
	watch: {
		calendarValue: {	//深度监听，可监听到对象、数组的变化
			handler(val, oldVal){
				const _this = this;
				// 月份/年份发生变化时重新获取后台数据
				if (val.getMonth() !== oldVal.getMonth() || val.getFullYear() !== oldVal.getFullYear()) {
					const previous_m =(val.getMonth() == 0 ? val.getFullYear()-1 + '12' : val.getFullYear() + (val.getMonth() > 9 ? val.getMonth() : '0' + val.getMonth()).toString())
					const this_m = val.getFullYear() + ((val.getMonth()+1) > 9 ? (val.getMonth()+1) : '0' + (val.getMonth()+1)).toString()
					const next_m =(val.getMonth() == 11 ? val.getFullYear()+1 + '01' : val.getFullYear() + ((val.getMonth()+2) > 9 ? (val.getMonth()+2) : '0' +(val.getMonth()+2)).toString())
					const data =  {
							isSearch: 1,
							previous_m: previous_m,
							this_m: this_m,
							next_m: next_m,
						}
					$.ajax({
						url: 'leaveApplication',
						data:data,
						type: 'get',
						success: function (res) {
							const code = res.code
							const msg = res.msg
							if (code === 0){
								_this.$message({
										type: 'info',
										message: msg
									});
							} else if (code > 0){
								_this.leaveApplication = res.data
								_this.$message({
									type: 'success',
									message: msg
								});
								
							} else {
								_this.$message({
									type: 'error',
									message: '操作失败，请刷新重试：' + msg
								});
							}
						},
						error: function (err) {
							_this.$message({
									type: 'error',
									message: '发生未知错误，请刷新重试'
								});
						}
					})
				}
			},
			deep: true //true 深度监听
		}
	}
})
</script>