<div class="layui-body" style="left:200px;">
	<div id="app">
		<fieldset class="layui-elem-field layui-field-title">
			<legend>库存管理</legend>
		</fieldset>
		<el-card style="display: block;margin: auto 15px;">
			<el-button icon="el-icon-search" circle @click="isShowSearch = !isShowSearch"></el-button>
			<!-- 搜索面板 -->
			<div v-show="isShowSearch" style="border: 1px solid #eee; border-radius:5px;padding:15px;margin:15px auto;">
				<el-form :inline="true" :model="searchForm" ref="searchForm">
					<el-form-item label="物资名称" prop="im_name">
						<el-input
						v-model="searchForm.im_name"
						width="50"
						placeholder="支持模糊搜索"></el-input>
					</el-form-item>
					<el-form-item label="创建时间" prop="create_time">
						<el-date-picker
						v-model="searchForm.create_time"
						type="datetimerange"
						format="yyyy-MM-dd HH:mm:ss"
						value-format="yyyy-MM-dd HH:mm:ss"></el-date-picker>
					</el-form-item>
					<el-form-item label="上一次操作时间" prop="update_time">
						<el-date-picker
						v-model="searchForm.update_time"
						type="datetimerange"
						format="yyyy-MM-dd HH:mm:ss"
						value-format="yyyy-MM-dd HH:mm:ss"></el-date-picker>
					</el-form-item>
					<el-form-item style="display: block;text-align:center">
						<el-button type="primary" @click="search()">搜索</el-button>
						<el-button @click="resetForm('searchForm')">重置</el-button>
					</el-form-item>
				</el-form>
			</div>
			<!-- 库存列表 -->
			<el-table
			:data="inventoryManagementList"
			max-height="400"
			border
			style="margin-top:15px">
				<el-table-column
				type="index"
				label="序号"
				width="50"
				sortable
				align="center"></el-table-column>
				<el-table-column
				prop="im_name"
				label="物资名称"
				sortable
				align="center">
					<template slot-scope="scope">
						<el-input v-model="scope.row.im_name"></el-input>
					</template>
				</el-table-column>
				<el-table-column
				prop="im_num"
				label="库存数量"
				show-overflow-tooltip
				width="200"
				sortable
				align="center">
					<template slot-scope="scope">
						<el-span class="el-icon-plus"></el-span>
						<el-input v-model="scope.row.im_num" style="width:65px;text-align:center;margin: auto 5px"></el-input>
						<el-span class="el-icon-minus"></el-span>
					</template>
				</el-table-column>
				<el-table-column
				prop="im_can_apply_num"
				label="可申请数量"
				show-overflow-tooltip
				width="200"
				sortable
				align="center"></el-table-column>
				<el-table-column
				prop="create_time"
				label="创建时间"
				sortable
				width="155"
				align="center"></el-table-column>
				<el-table-column
				prop="update_time"
				sortable
				label="上一次操作时间"
				width="155"
				align="center"></el-table-column>
			</el-table>
			<div style="margin: auto 15px">
				<el-pagination
				@size-change="handleSizeChange"
				@current-change="handleCurrentChange"
				:current-page="pagination.current_page"
				:page-sizes="[10, 20, 30, 40, 50, 100, 500]"
				:page-size="pagination.per_page"
				layout="total, sizes, prev, pager, next, jumper"
				:total="pagination.total"
				style="margin-top: 10px"></el-pagination>
			</div>
		</el-card>
		<el-drawer
		title="编辑"
		:visible.sync="isShowEditDrawer"
		direction="ltr"
		size="50%"
		:modal-append-to-body = "false"
		close-on-press-escape = "false"
		style="height: 100%;">
			<el-form :inline="true" :model="searchForm" ref="searchForm" style="margin-left:30px">
				<el-form-item label="物资名称" prop="im_name">
					<el-input
					v-model="searchForm.im_name"
					width="50"
					placeholder="支持模糊搜索"></el-input>
				</el-form-item>
				<el-form-item label="创建时间" prop="create_time">
					<el-date-picker
					v-model="searchForm.create_time"
					type="datetimerange"
					format="yyyy-MM-dd HH:mm:ss"
					value-format="yyyy-MM-dd HH:mm:ss"></el-date-picker>
				</el-form-item>
				<el-form-item label="上一次操作时间" prop="update_time">
					<el-date-picker
					v-model="searchForm.update_time"
					type="datetimerange"
					format="yyyy-MM-dd HH:mm:ss"
					value-format="yyyy-MM-dd HH:mm:ss"></el-date-picker>
				</el-form-item>
				<el-form-item style="display: block;text-align:center">
					<el-button type="primary" @click="search()">搜索</el-button>
					<el-button @click="resetForm('searchForm')">重置</el-button>
				</el-form-item>
			</el-form>
		</el-drawer>
	</div>
</div>
<script>
const inventoryManagementList = {:json_encode($inventoryManagementList)};
const pagination = {
				current_page: inventoryManagementList.current_page,
				last_page: inventoryManagementList.last_page,
				per_page: inventoryManagementList.per_page,
				total: inventoryManagementList.total
			};
let app = new Vue({
	el: '#app',
	data() {
		return {
			isShowSearch: false, // 打开搜索面板
			searchForm: {
				im_name: '',
				create_time: [],
				update_time: []
			},
			inventoryManagementList: inventoryManagementList.data,
			pagination: pagination,
			isShowEditDrawer: false,
		}
	},
	methods: {
		search(){
			const _this = this;
			$.ajax({
				url:'feedbackList',
				type:'post',
				data:{
					isSearch: 1,
					pagination: _this.pagination,
					searchForm: _this.searchForm
				},
				success:function (res) {
					_this.inventoryManagementList = res.data
					_this.pagination = {
						current_page: res.current_page,
						last_page: res.last_page,
						per_page: res.per_page,
						total: res.total
					}
				},
				error:function(e){
					console.log(e)
					showTs(0, '发生错误，请刷新一下~', 10000)
				}
			})
		},
		resetForm(formName){
			this.$refs[formName].resetFields();
		},
		showEditLayer(row){
			const _this = this;
			let html;
			html = '<textarea id="editFBSolution" style="margin:20px;width:560px; height:85%;border:1px solid #ccc;border-radius:5px">'+row.iml_solution+'</textarea>'
			layer.open({
				type: 1
				,title: '编辑解决方案' //不显示标题栏
				// ,closeBtn: false
				,area: ['600px;','80%']
				,shade: 0.8
				,id: 'LAY_editFBSolution' //设定一个id，防止重复弹出
				,moveType: 1 //拖拽模式，0或者1
				,content: html
				,btn: ['提交', '取消']
				,btnAlign: 'c'
				,success: function(layero){
					const btn = layero.find('.layui-layer-btn');
					btn.find('.layui-layer-btn0').click(function(){
						console.log(row);
						return
						const iml_solution = $('#editFBSolution').val()
						if(iml_solution === ''){
							layer.msg('解决方案不能为空',{
								time: 500
							})
						}else if(iml_solution === row.iml_solution){
							layer.msg('没有修改',{
								time: 500
							})
						}else{
							row.iml_solution = iml_solution
							row.iml_is_read = 1
							row.iml_is_handle = 1
							_this.handleEdit(row, 'iml_solution')
						}
					});
				}
			});
		},
		handleEdit(row, key){
			row.iml_is_handle == 1 && (row.iml_is_read = 1)
			const params = {
				iml_id: row.iml_id,
			}
			let msg = ''
			switch (key) {
				case 'iml_is_read':
					params.iml_is_read = row.iml_is_read
					msg = '读取状态'
					break;
				case 'iml_solution':
					params.iml_solution = row.iml_solution
					params.iml_is_read = 1
					params.iml_is_handle = 1
					msg = '解决方案'
					break;
				default:
					break;
			}
			$.ajax({
				url: 'editFeedbackList',
				type: 'post',
				data: params,
				success: function (res) {
					if(res === 0){
						showTs(1, msg + '没有任何修改', 1000)
					}else if(res > 0){
						showTs(1, msg + '修改成功', 1000)
					}else{
						showTs(0, msg + '修改失败，请刷新重试~', 5000)
					}
				},
				error: function (err) {
					showTs(0, '发生未知错误，请刷新重试~', 5000)
				}
			})
		},
		// pagination时
		handleSizeChange(per_page){
			const _this = this;
			_this.pagination.per_page = per_page
			_this.search();
		},
		handleCurrentChange(current_page){
			const _this = this;
			_this.pagination.current_page = current_page
			_this.search();
		}
	}
})
</script>