<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" style="position: absolute;">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<div class="container">
			<video controls style="margin: 20px ;display: inline-block;position: relative;border-radius: 50px;">
				<source src="__IMG__/广运精灵现场演示.mp4" type="video/mp4">
				您的浏览器不支持Video标签。
			</video>
		</div>
	</body>
</html>
<style>
body{
	background-image: url('__IMG__/rotaList_day_bg.png');
	background-position: center;
	background-repeat: no-repeat;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 100%;
	margin: 0;
	padding:0;
	overflow: hidden;
}
.container{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	display: inline-block
}
</style>