<div class="layui-body" style="height:100%;left:200px;padding-top: 0;">
	<div id="app" style="width: 100%;height:100%;">
		<el-card v-show="!isShowExcel" style="text-align: center;">
			<el-card class="box-card">
				<div slot="header" class="clearfix">
				  <span style="font-weight: bold;font-size:large">自动探测国际政企专网电路变动工具</span>
				  <el-button style="float: right; padding: 3px 0" type="text">
					<a target="blank" href="http://192.168.199.27/dzzoffice_gy/index.php?mod=zip&path=cFA2a3pGbzFoMjF2YUE4cklSOVI3UFU2Rlp1NnZzdlRHVndQVi1HV0xrRmlSWi1QamxxVF9tazBFVUE3Mm1tcUM3YTFwenN1XzdMTjF3">
						下载
					</a>
				  </el-button>
				</div>
				<div class="text item">
					实现对政企专网新增业务电路的及时自动发现，并主动将新电路纳入业务监控保障视图，避免因客户资源信息同步不及时而造成对业务电路保障的遗漏。
				</div>
				<div class="text item">Python、PYQT5、selenium、xlrd、openpyxl</div>
				<div class="text item">项目成员：马学森、郑仕寿<el-tag style="float: right;">上线在用</el-tag></div>
			</el-card>
			<el-card class="box-card">
				<div slot="header" class="clearfix">
				<span style="font-weight: bold;font-size:large">批量投诉快速定位支撑工具</span>
				<el-button style="float: right; padding: 3px 0" type="text">
					<a target="blank" href="http://192.168.199.27/dzzoffice_gy/index.php?mod=zip&path=cFA2a3pGbzFoMjF2YUE4cklSOVI3UFU2Rlp1NnZzdlRHVndQVi1HV0xrRmlSWi1QamxxVF9tazBFVUE3Mm1tcUM3YTFwenN1XzdMTjF3">
						下载
					</a>
				</el-button>
				</div>
				<div class="text item">
				基于全网10000+条集客专线信息进行分析，实现对应系统信息的查询和统计，通过对批量投诉电路的路由信息快速比对，从而计算出路由的共同点，为批量投诉快速定位提供支撑。
				</div>
				<div class="text item">Python、PYQT5、SQLite</div>
				<div class="text item">项目成员：马学森、郑仕寿<el-tag style="float: right;">上线在用</el-tag></div>
			</el-card>
			<el-card class="box-card">
				<div slot="header" class="clearfix">
					<span style="font-weight: bold;font-size:large">基于Tampermonkey实现EOMS集客投诉工单一键模板导入功能</span>
					<el-button style="float: right; padding: 3px 0" type="text">
					<a target="blank" href="http://192.168.199.27/dzzoffice_gy/index.php?mod=zip&folder=cFA2a3pGbzFoMjF2YUZvdWR4OEQ2ZlU1RlptLXVzZURGMTRLRk9UVEpYMHZGdV9jaFJlSG14ODNmMGtyMDJHd0c5VFRvMDFTdnUyX3Jn&path=cFA2a3pGbzFoMjF2YUZsN2N4c0d1ZjV2U0ozcDY4U0dGRkpVVS1LV0pVQnBSWnFPM0FmRDhqTXdFUjg4aURQeFZyZXpwR3Q5OXV5ZTBn">
						下载
					</a>
					</el-button>
				</div>
				<div class="text item">
					实现EOMS系统的集客投诉工单回单时，一键填充常用字段，提高工单处理工作效率。
					<br>
				</div>
				<div class="text item">Tampermonkey</div>
				<div class="text item">项目成员：何健波<el-tag style="float: right;">上线在用</el-tag></div>
			</el-card>
			<el-card class="box-card">
				<div slot="header" class="clearfix">
					<span style="font-weight: bold;font-size:large">网管自动关闭小工具</span>
					<el-button style="float: right; padding: 3px 0" type="text">
					<a target="blank" href="http://192.168.199.27/dzzoffice_gy/index.php?mod=zip&folder=cFA2a3pGbzFoMjF2YUZvbGRCOEU2SzA0UzVpNnVjVFNGQW82S2JQQll4RTlRSjNqcEZTN18yQl9Ua3daLVQzOEp1bmI5bXh4dElXcXJn&path=cFA2a3pGbzFoMjF2YUFnbEloa0I2cTg0SEp5NHZNUFFRbGtQQnUyVUlrSnBGWnVEM0ZYQV9XRXhHVWxxalRqNldMTzBwMnNwLU9MQTF3">
						下载
					</a>
					</el-button>
				</div>
				<div class="text item">
					解决监控终端在网管打开后，长时间无人使用但又没有关闭的问题
					<br><br>
				</div>
				<div class="text item">批处理脚本</div>
				<div class="text item">项目成员：郭扬<el-tag style="float: right;">上线在用</el-tag></div>
			</el-card>
			<el-card class="box-card">
				<div slot="header" class="clearfix">
					<span style="font-weight: bold;font-size:large">专线投诉分类工具</span>
					<el-button style="float: right; padding: 3px 0" type="text">
					<a target="blank" href="http://192.168.199.27/dzzoffice_gy/index.php?mod=zip&folder=cFA2a3pGbzFoMjF2YUFzcGNSbFV2UFU1Rlp1LXZaZlZGd2cxVTVMQUlIWnNHdUxfaHc2RG5XaE5YelVENjJTdkFlUFhxSEJZb0x5Mm9B&path=cFA2a3pGbzFoMjF2YUEwdUlVdFV1YTR3R0pfb3NwSGJGVnBlVXVhUklrVm9RSmpVaTFxWC1XQXlFUmc0M3pqX1ZyZTJvak1pLU9MUDF3">
						下载
					</a>
					</el-button>
				</div>
				<div class="text item">
					本项目对专线投诉工单根据线路编号、投诉内容根据要求进行进一步分类，方便投诉精细化分析。
					<br>
				</div>
				<div class="text item">Python</div>
				<div class="text item">项目成员：吴佳琪<el-tag style="float: right;">上线在用</el-tag></div>
			</el-card>
			<el-card class="box-card">
				<div slot="header" class="clearfix">
					<span style="font-weight: bold;font-size:large">专网、ITMC、投诉工单月报分析自动生成小工具</span>
					<el-button style="float: right; padding: 3px 0" type="text">
					<a target="blank" href="http://192.168.199.27/dzzoffice_gy/index.php?mod=zip&folder=cFA2a3pGbzFoMjF2YUZvc0lVa0d2ZjlyR016cjY1TFFFRnNiQmVMekluRnRGdXVQMkZldV9DZFRFVGh2aUdtS0diYmk5Mzk5X0xPYjF3&path=cFA2a3pGbzFoMjF2YUY0b2R4aFM3dlE4R1p1NnY4WFZFbDBPQjdiSGRoMWlSWjZFajFhVnJtQThUeHhqaldfX0RyWGw5ek41XzdITzJ3">
						下载
					</a>
					</el-button>
				</div>
				<div class="text item">
					实现自动生成周报月报分析数据及分析文档，减少重复性操作。
					<br><br>
				</div>
				<div class="text item">Python</div>
				<div class="text item">项目成员：黄剑波、张蕊、梁晓婷<el-tag style="float: right;">上线在用</el-tag></div>
			</el-card>
			<el-card class="box-card">
				<div slot="header" class="clearfix">
					<span style="font-weight: bold;font-size:large">告警分析小工具</span>
					<el-button style="float: right; padding: 3px 0" type="text">
					<a target="blank" href="http://192.168.199.27/dzzoffice_gy/index.php?mod=zip&path=cFA2a3pGbzFoMjF2YUY4dmRFaFd1Zmc3VDhfdTdNVFVGd2dOQXJER2RodzlFYzZQMmxDVXJ6ZGdIQnBzMkR2N1hyZTRvemtxOS1HYTJ3">
						下载
					</a>
					</el-button>
				</div>
				<div class="text item">
					本项目对政企专网/ITMC/东部环告警按照一定规则，周期性地进行统计分析，并按格式要求输出对应的报告word文档、隐患挖掘网元及告警excel表格、可视化分析图表（echart，目前仅专网）。
				</div>
				<div class="text item">Python</div>
				<div class="text item">项目成员：黄剑波<el-tag style="float: right;">上线在用</el-tag></div>
			</el-card>
			<el-card class="box-card">
				<div slot="header" class="clearfix">
					<span style="font-weight: bold;font-size:large">工单分析工具</span>
					<el-button style="float: right; padding: 3px 0" type="text">
					<a target="blank" href="http://192.168.199.27/dzzoffice_gy/index.php?mod=zip&folder=cFA2a3pGbzFoMjF2YUYwb2NCNVo2ZnR0RkpfdnZNZlZFQTBtVXJtUVp4SnRPSjdnb0ZERi1ENDlXVThyN2p5eFBOQzMzbVYyOXFmTGp3&path=cFA2a3pGbzFoMjF2YUZrcEpFeFY2dlJyVE1fbzc4RFJSUWhmVWUzR2RSY19FY3FEMUZDVHFXY3dIQnM0am16X0RyUG44RDBvci1ISzFR">
						下载
					</a>
					</el-button>
				</div>
				<div class="text item">
					每周协助分析人员快速分析整理历史投诉工单
					<br><br><br>
				</div>
				<div class="text item">Python</div>
				<div class="text item">项目成员：王如玥<el-tag style="float: right;">上线在用</el-tag></div>
			</el-card>
			<el-card class="box-card">
				<div slot="header" class="clearfix">
					<span style="font-weight: bold;font-size:large">敬请期待</span>
					<el-button style="float: right; padding: 3px 0" type="text">
					<a target="blank" href="">
						下载
					</a>
					</el-button>
				</div>
				<div class="text item">
					欢迎投库
					<br><br><br>
				</div>
				<div class="text item">使用技术</div>
				<div class="text item">项目成员<el-tag type="info" style="float: right;">敬请期待</el-tag></div>
			</el-card>
			<br>
			<el-button type="primary" style="width: 480px;margin: 5px 0;">下载安装包需连入园区网</el-button>
		</el-card>
		<iframe v-show="isShowExcel" :style="{width: '100%',height: '100%',padding: '20px',borderRadius:'40px',overflow:'hidden'}" :src="iframeSrc" frameborder="0"></iframe>
		<el-button type="primary" v-show="isShowExcel" circle @click="openInNewWindow()"style="position:fixed;bottom: 40px; right:120px;margin: 0 20px 20px;background-image: linear-gradient(45deg,#fd009c, #9a0fd1, #5900ff);border: none">全屏<br>打开</el-button>
		<el-button type="primary" circle @click="isShowExcel = !isShowExcel;"style="position:fixed;bottom: 40px; right:50px;margin: 0 20px 20px;background-image: linear-gradient(45deg,#fd009c, #9a0fd1, #5900ff);border: none">{{isShowExcel? '关闭':'查看'}}<br>文档</el-button>
	</div>
</div>
<script>
let app = new Vue({
	el: '#app',
	data() {
		return {
			isShowExcel: false,
			iframeSrc: 'http://192.168.199.27/dzzoffice_gy/index.php?mod=onlyoffice&path=cFA2a3pGbzFoMjF2YUE5N2NVNVl1YTg3R3BDX3M4WFRRZ2hkQUxEQUlSSnZGWkRXaVFiRnFXTTFHMDg0akRfeFdPUzQ4RE5fLU95YTBR'
		}
	},
	methods: {
		openInNewWindow(){
			window.open('http://192.168.199.27/dzzoffice_gy/index.php?mod=onlyoffice&path=cFA2a3pGbzFoMjF2YUE5N2NVNVl1YTg3R3BDX3M4WFRRZ2hkQUxEQUlSSnZGWkRXaVFiRnFXTTFHMDg0akRfeFdPUzQ4RE5fLU95YTBR')
			// window.open('http://192.168.199.37/SmallToolLibrary') // 网页版小工具库样式，仅适合2k以上大屏幕
		}
	}
})
</script>

<style>
	.text {
	  	font-size: 14px;
	}
  
	.item {
	  	margin-bottom: 18px;
	}
  
	.clearfix:before,
	.clearfix:after {
	  	display: table;
	  	content: "";
	}
	.clearfix:after {
	  	clear: both
	}
  
	.box-card {
	  	width: 480px;
	  	display: inline-block;
		text-align: left;
	}
</style>